/*HEADER*/
.header{
    display: block;
    background-color: #FFFFFF;
}
.container{
    padding: 0;
}
.navbar{
    background-color: #FFFFFF;
    height: 80px;
    border-bottom: #e7e7e7 0.1px solid;
}
.nav-link{
    font-size: 16px;
    font-weight: bold;
}
.nav-item{
    display: flex;
    padding: 0px 20px;
}
.navbar-nav a{
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: #575757;
}
.bg-light{
    background-color: #FFFFFF;
}
body{
    font-family: "ProximaNova-Regular",sans-serif;
    font-size: 16px;
    color: #7c7c7c;
}
ul{
    list-style-type:none ;
}
/*BANNER*/
.banner{
    height: 460px;
    background-color: #FF5959;
}
.text-banner{
    padding-top: 150px;
    text-align: center;
    margin-bottom: 34px;
}
.BN {
    font-size: 41px;
    font-family: "ProximaNova-Light",sans-serif;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.textt{
    display: block;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "ProximaNova-Light",sans-serif;
    color: #FFFFFF;
}
/*MAIN CONTENT*/

/*FROM*/
.main-content{
    display: block;
    margin-top: 50px;
}
.col{
    padding: 0 15px;
}
.form-control{
    margin: 0 0 30px;
    padding: 10px 16px;
    height: 56px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
    border: 1px solid #979797;
    margin-bottom: 30px;
}
.send-message{
    text-align: center;
    width: 100%;
    background-color: #FF5959;
    border-radius: 6px;
    padding: 0 12px;
}
.sending{
    border: none;
    background-color: #FF5959;
    height: 55px;
    color: #FFFFFF;
}
/*CONTACT*/

.ct1{
    padding: 80px 0 60px;
}
.mct1{
    padding: 20px;
    background-color: #FAFAFA;
}
.col-sm{
    text-align: center;
}
/*MAP*/

/*FOOTER*/
.footer{
    background-color: #FAFAFA;
}
.my-5{
    height: 397px;
}
.m-1 a img{
    list-style-type: none;
    margin: 0px -20px;
    display: inline-block;
}

