/*HEADER*/
.header{
    display: block;
    background-color: #FFFFFF;
}
.container{
    padding: 0;
}
.navbar{
    background-color: #FFFFFF;
    height: 80px;
    border-bottom: #e7e7e7 0.1px solid;
}
.nav-link{
    font-size: 16px;
    font-weight: bold;
}
.nav-item{
    display: flex;
    padding: 0px 20px;
}
.navbar-nav a{
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: #575757;
}
.bg-light{
    background-color: #FFFFFF;
}
body{
    font-family: "ProximaNova-Regular",sans-serif;
    font-size: 16px;
    color: #7c7c7c;
}
ul{
    list-style-type:none ;
}
/*BANNER*/
.banner{
    height: 460px;
    background-color: #FF5959;
}
.text-banner{
    padding-top: 150px;
    text-align: center;
    margin-bottom: 34px;
}
.BN {
    font-size: 41px;
    font-family: "ProximaNova-Light",sans-serif;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.textt{
    display: block;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "ProximaNova-Light",sans-serif;
    color: #FFFFFF;
}
/*MAIN CONTENT*/

.imagecontent{
    padding-top: 30px;
    background-color: #FFFFFF;
}
.imagecontent img{
    width: 100%;
}
.content-title{
    margin: 1px 60px 30px;
    background-color: #FAFAFA;

}
.read-more{
    padding: 5px 40px;
    margin: 20px 0;
    border: 1px solid #FF5959;
    color: #FF5959;
    background-color: #FAFAFA;
    border-radius: 5px;
}
.title{
    padding: 50px 0;
}
.title h3{
    font-family: "ProximaNova-Bold",sans-serif;
    color: #000;
    font-weight: 400;
}
.post h6{
    font-style: italic;
    color: #FF5959;
}
.post p{
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: "ProximaNova-Light",sans-serif;
    font-size: 17px;
    color: #575757;
}
.row ul{
    list-style-type:none ;
    flex-direction: row;
    display: inline-flex;
}
.row{
    padding: 20px 10px 0px 0px;
}
.text-left ul{
    padding: 0 ;
}
.text-left ul li span{
    margin: 13px;
}
.text-left ul li a{
    text-decoration: none;
    color: black;
}
.text-right{
    position: relative;
    text-align: right;
}
.text-right ul{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0 16px;
}
.text-right h6{
    padding-right: 120px;
}
.item{
    padding: 0 6px;
}
.navigation{
    text-align: center;
}
.navigation ul{
    flex-direction: row;
    display: inline-flex;
}
.navigation ul li{
    margin: 0px 15px;
}
.click-number{
    padding: 5px 40px;
    margin-top: 34px;
    border: 1px solid #FF5959;
    color: #FF5959;
    background-color: #FAFAFA;
    border-radius: 5px;
}
.nb{
    padding-top: 40px ;
    color: #FF5959;
}

/*FOOTER*/
.footer{
    background-color: #FAFAFA;
}
.my-5{
    height: 397px;
}
.m-1 a img{
    list-style-type: none;
    margin: 0px -20px;
    display: inline-block;
}

