/*HEADER*/
.header{
    display: block;
    height: 80px;
    background-color: #FFFFFF;
    border: #575757 0.5px solid;
}
.container{
    padding: 0;
}
.navbar{
    background-color: #FFFFFF;
}
.nav-link{
    font-size: 16px;
    font-weight: bold;
}
.nav-item{
    display: flex;
    padding: 0px 20px;
}
.navbar-nav a{
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: #575757;
}
.bg-light{
    background-color: #FFFFFF;
}
/*BANNER*/
.banner {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.banner .container {
    position: relative;
    z-index: 2;
}

.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}
.bbtn{
    width: 246px;
    height: 54px;
    border-radius: 40px;
    background-color: #FF5959;
    font-family: "ProximaNova-Bold",sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    border: #FFFFFF;
}
.display-3{
    margin-top: -50px;
}
.text-white h1{
    font-family: "ProximaNova-Bold",sans-serif;
    font-size: 67px;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.text-white p{
    font-family: "ProximaNova-Bold",sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

/*Call To Action*/
.imgphone{
    text-align: center;
}
/*FOOTER*/
.footer{
    background-color: #FAFAFA;
}
.my-5{
    height: 397px;
}
.m-1 a img{
    list-style-type: none;
    margin: 0px -20px;
    display: inline-block;
}

